@using FribergCarRentals.Areas.Administration.Views.Customer
@model IEnumerable<IndexCustomerViewModel>

@{
	ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
	<a asp-action="Create">Create New</a>
</p>
<table class="table">
	<thead>
		<tr>
			<th>
				@Html.DisplayNameFor(Model => Model.CustomerId)
			</th>
			<th>
				@Html.DisplayNameFor(Model => Model.IdentityUserId)
			</th>
			<th>
				@Html.DisplayNameFor(Model => Model.FirstName)
			</th>
			<th>
				@Html.DisplayNameFor(Model => Model.LastName)
			</th>
						<th>
				@Html.DisplayNameFor(Model => Model.HomeCity)
			</th>
			<th>
				@Html.DisplayNameFor(Model => Model.HomeCountry)
			</th>
			<th>
				Modify
			</th>
		</tr>
	</thead>
	<tbody>
		@foreach (IndexCustomerViewModel indexCustomerViewModel in Model)
		{
			<tr>
				<td>
					@indexCustomerViewModel.CustomerId
				</td>
				<td>
					@indexCustomerViewModel.IdentityUserId
				</td>
				<td>
					@indexCustomerViewModel.FirstName
				</td>
				<td>
					@indexCustomerViewModel.LastName
				</td>
				<td>
					@indexCustomerViewModel.HomeCity
				</td>
				<td>
					@indexCustomerViewModel.HomeCountry
				</td>
				<td>
					<a asp-action="Edit" asp-route-id="@indexCustomerViewModel.CustomerId">Edit</a> |
					<a asp-action="Details" asp-route-id="@indexCustomerViewModel.CustomerId">Details</a> |
					<a asp-action="Delete" asp-route-id="@indexCustomerViewModel.CustomerId">Delete</a>
				</td>
			</tr>
		}
	</tbody>
</table>
