@using FribergCarRentals.Mvc.Areas.CustomerCenter.Views.Customer
@model DetailsCustomerViewModel

@{
    ViewData["Title"] = "Customer Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Customer Details</h1>

<div>
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HomeCity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HomeCity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HomeCountry)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HomeCountry)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-primary">Edit</a>
</div>
