@using FribergCarRentals.Mvc.Areas.Public.Views.Car
@model IEnumerable<IndexCarViewModel>

@{
	ViewData["Title"] = "All Cars";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>All Cars</h1>

<div class="row">
	@foreach (var item in Model)
	{
		<div class="card m-1" style="width: 18rem;">
			<div class="card-body">
				<h5 class="card-title">@item.Make @item.Model (@item.Year)</h5>
				@if (item.PhotoUrl != string.Empty)
				{
					<img src="@item.PhotoUrl" class="card-img-top" alt="Car image">
				}
				else
				{
					<img src="~/images/Logo.png" class="card-img-top" alt="Car image">
				}
				<p class="card-text">@item.Description</p>
				<a asp-area="Public" asp-controller="Customer" asp-action="Create" class="btn btn-primary">Reserve</a>
			</div>
		</div>
	}
</div>