@model IEnumerable<CarIndexViewModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<div class="row">
	@foreach (var item in Model)
	{
		<div class="card" style="width: 18rem;">
			<img src="~/images/Logo.png" class="card-img-top" alt="Car image">
			<div class="card-body">
				<h5 class="card-title">@item.Make @item.Model (@item.Year)</h5>
				<p class="card-text">@item.Description</p>
				<a asp-area="CustomerCenter" asp-controller="Reservation" asp-action="Create" asp-route-id="@item.Id" class="btn btn-primary">Rent</a>
			</div>
		</div>
	}
</div>
