@using FribergCarRentals.Mvc.Session
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@inject UserSession UserSession

@if (UserSession.IsSignedIn())
{
	<h1>Signed in as...</h1>
}
else
{
	<h1>Not signed in</h1>
}
<ul class="navbar-nav">
	@if (UserSession.IsSignedIn())
	{
		<li class="nav-item">
			Hello @UserSession.UserDto.Username!
		</li>
		<li class="nav-item">
			<form class="form-inline" asp-area="Public" asp-controller="Session" asp-action="Signout">
				<button type="submit" class="nav-link btn btn-link text-dark">SIGNOUT</button>
			</form>
		</li>
	}
	else
	{
		<li class="nav-item">
			<form class="form-inline" asp-area="Public" asp-controller="Session" asp-action="Signin">
				<button type="submit" class="nav-link btn btn-link text-dark">SIGNIN</button>
			</form>
		</li>
	}
</ul>


<ul class="navbar-nav">
	@if (SignInManager.IsSignedIn(User))
	{
		<li class="nav-item">
			<a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @User.Identity?.Name!</a>
		</li>
		<li class="nav-item">
			<form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
				<button type="submit" class="nav-link btn btn-link text-dark">Logout</button>
			</form>
		</li>
	}
	else
	{
		<li class="nav-item">
			<a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">Register</a>
		</li>
		<li class="nav-item">
			<a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">Login</a>
		</li>
	}
</ul>
