@using FribergCarRentals.Areas.Administration.Views.IdentityUser
@model IEnumerable<IndexIdentityUserViewModel>

@{
	ViewData["Title"] = "All Users";
}

<h1>All Users</h1>

<p>
	<a asp-action="Create">Create New</a>
</p>
<table class="table">
	<thead>
		<tr>
			<th>
				IdentityUser
			</th>
			<th>
				Admin Account
			</th>
			<th>
				Customer Account
			</th>
		</tr>
	</thead>
	<tbody>
		@foreach (IndexIdentityUserViewModel identityUserIndexViewModel in Model)
		{
			<tr>
				<td>
					<a asp-action="Edit" asp-route-id="@identityUserIndexViewModel.IdentityUserId" class="btn btn-outline-primary">
						@identityUserIndexViewModel.IdentityUserUsername
					</a>
				</td>
				@if (identityUserIndexViewModel.IsAdmin)
				{
					<td>
						<a asp-controller="Admin" asp-action="Edit" asp-route-id="@identityUserIndexViewModel.AdminId" class="btn btn-outline-primary">
							@identityUserIndexViewModel.AdminName
						</a>
					</td>
				}
				else
				{
					<td>
						<a asp-controller="Admin" asp-action="Create" asp-route-id="@identityUserIndexViewModel.IdentityUserId" class="btn btn-outline-secondary">
							Make admin
						</a>
					</td>
				}
				@if (identityUserIndexViewModel.IsCustomer)
				{
					<td>
						<a asp-controller="Customer" asp-action="Edit" asp-route-id="@identityUserIndexViewModel.CustomerId" class="btn btn-outline-primary">
							@identityUserIndexViewModel.CustomerName
						</a>
					</td>
				}
				else
				{
					<td>
						<a asp-controller="Customer" asp-action="Create" asp-route-id="@identityUserIndexViewModel.IdentityUserId" class="btn btn-outline-secondary">Make customer</a>
					</td>
				}

			</tr>
		}
	</tbody>
</table>
