@using FribergCarRentals.Areas.Administration.ViewModels
@model IEnumerable<IdentityUserViewModel>

@{
	ViewData["Title"] = "Index";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
	<a asp-action="Create">Create New</a>
</p>
<table class="table">
	<thead>
		<tr>
			<th>
				IdentityUser
			</th>
			<th>
				Admin
			</th>
			<th>
				Customer
			</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model)
		{
			<tr>
				<td>
					<a asp-action="Edit" asp-route-id="@item.Id">@item.Username</a>
					@if (item.IsAdmin)
					{
						<span class="badge text-bg-dark">IsAdmin</span>
					}
					@if (item.IsCustomer)
					{
						<span class="badge text-bg-success">IsCustomer</span>
					}
					@if (item.IsUser)
					{
						<span class="badge text-bg-secondary">IsUser</span>
					}
				</td>
				@if (item.AdminId != -1)
				{
					<td>
						<a asp-controller="Admin" asp-action="Edit" asp-route-id="@item.AdminId">
							Admin id #@item.AdminId
						</a>
					</td>
				}
				else
				{
					<td>
						<a asp-controller="Admin" asp-action="Create" asp-route-id="@item.Id" class="btn btn-outline-primary">Make admin</a>
					</td>
				}
				@if (item.CustomerId != -1)
				{
					<td>
						<a asp-controller="Customer" asp-action="Details" asp-route-id="@item.CustomerId">
							@item.CustomerFirstName @item.CustomerLastName
						</a>
					</td>
				}
				else
				{
					<td>
						<a asp-controller="Customer" asp-action="Create" asp-route-id="@item.Id" class="btn btn-outline-primary">Create</a>
					</td>
				}

			</tr>
		}
	</tbody>
</table>
