@using FribergCarRentals.Areas.Administration.ViewModels
@model IEnumerable<IdentityUserViewModel>

@{
	ViewData["Title"] = "Index";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
	<a asp-action="Create">Create New</a>
</p>
<table class="table">
	<thead>
		<tr>
			<th>
				IdentityUserName (IdentityUserId)
			</th>
			<th>
				AdminFirst AdminLast (AdminId)
			</th>
			<th>
				CustomerFirst CustomerLast (CustomerId)
			</th>
		</tr>
	</thead>
	<tbody>
		@foreach (IdentityUserViewModel identityUserViewModel in Model)
		{
			<tr>
				<td>
					<a asp-action="Edit" asp-route-id="@identityUserViewModel.Id" class="btn btn-outline-primary">
						@identityUserViewModel.Username (@identityUserViewModel.Id)
						</a>
				</td>
				@if (identityUserViewModel.AdminId > 0)
				{
					<td>
						<a asp-controller="Admin" asp-action="Edit" asp-route-id="@identityUserViewModel.AdminId" class="btn btn-outline-primary">
							@identityUserViewModel.AdminFirstName @identityUserViewModel.AdminLastName (@identityUserViewModel.AdminId)
						</a>
					</td>
				}
				else
				{
					<td>
						<a asp-controller="Admin" asp-action="Create" asp-route-id="@identityUserViewModel.Id" class="btn btn-outline-secondary">Make admin</a>
					</td>
				}
				@if (identityUserViewModel.CustomerId > 0)
				{
					<td>
						<a asp-controller="Customer" asp-action="Details" asp-route-id="@identityUserViewModel.CustomerId" class="btn btn-outline-primary">
							@identityUserViewModel.CustomerFirstName @identityUserViewModel.CustomerLastName (@identityUserViewModel.CustomerId)
						</a>
					</td>
				}
				else
				{
					<td>
						<a asp-controller="Customer" asp-action="Create" asp-route-id="@identityUserViewModel.Id" class="btn btn-outline-secondary">Make customer</a>
					</td>
				}

			</tr>
		}
	</tbody>
</table>
