@using FribergCarRentals.Areas.CustomerCenter.Views.Reservation
@model IEnumerable<IndexReservationViewModel>

@{
	ViewData["Title"] = "My Reservations";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>My Reservations</h1>

<p>
	<a asp-action="Create">Create New</a>
</p>
<table class="table">
	<thead>
		<tr>
			<th>
				@Html.DisplayNameFor(model => model.StartDate)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.EndDate)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Car)
			</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model)
		{
			<tr>
				<td>
					@Html.DisplayFor(modelItem => item.StartDate)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.EndDate)
				</td>
				<td>
					<a asp-controller="Car" asp-action="Details" asp-route-id="@item.Car.Id">
						@item.Car.Make @item.Car.Model (@item.Car.Year)
					</a>
				</td>
				<td>
					<a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
				</td>
			</tr>
		}
	</tbody>
</table>
